---
import { getGenerals } from '../../lib/getGenerals';
const { networks } = getGenerals();


interface NetworkColors {
  [key: string]: string;
}

const networkColors: NetworkColors = networks.reduce((acc, { type, color }) => {
  acc[type] = color;
  return acc;
}, {} as NetworkColors);


---

<div class='network'>
	{
		networks.map(({ type, url }) => (
			<a href={url} target='_blank' class={`link-${type}`}>
				<i class={`bi bi-${type}`} />
			</a>
		))
	}
</div>

<style define:vars={networkColors}>
	.network {
		@apply ml-auto flex w-[12rem] items-center justify-between text-[1.6rem] text-white/80;
		@screen laptop {
			width: 12rem;
			padding-inline: 0;
			margin-left: 0;
		}
	}

	.link-facebook:hover {
		color: var(--facebook);
	}
	.link-youtube:hover {
		color: var(--youtube);
	}
	.link-github:hover {
		color: var(--github);
	}
	.link-linkedin:hover {
		color: var(--linkedin);
	}
</style>
