---
interface Props {
	title: string;
	subtitle: string;
	className?: string;
}

const { title, subtitle, className } = Astro.props;
---

<div class={`Title ${className}`}>
	<h2>{title}</h2>
	<h3>{subtitle}</h3>
</div>

<style>
	.Title {
		@apply relative my-[6rem] flex items-center justify-center text-center font-bold;
		h2 {
			@apply relative z-20 text-[3.6rem];
			&::before {
				@apply absolute bottom-[-0.3rem] left-0 right-0 mx-auto h-[0.3rem] w-[40%] bg-tertiary;
				content: '';
			}
		}
		h3 {
			@apply absolute z-10 text-[5.5rem] uppercase text-[#fef2ea];
		}
	}

	@screen laptop {
		.Title {
			@apply my-[8rem] w-full;
			h3 {
				@apply text-[12rem];
			}
		}
	}
</style>
