---
import type { ISkills } from '@interface/home';
import Tumb from '@atoms/Thumb.astro';

const { value, title,image } = Astro.props as ISkills;
---

<div class='flex items-center h-[6rem] gap-4'>
	<div class='Skill'>
		<div class='Skill__description'>
			<p class='Skill__title'>{title}</p>
			<p class='porcentaje__num'>{value}%</p>
		</div>
		<div class='Skill__barra'>
			<div class='porcentaje__bar' style={{ width: `${value}%` }}></div>
		</div>
	</div>
    <Tumb className='h-full w-[6rem] px-1 py-2' contain img={image}>
</div>

<style>
	.Skill {
		width: 100%;
	}
	.Skill__description {
		display: flex;
		justify-content: space-between;
	}

	.Skill__barra {
		width: 100%;
		background-color: #cccccc;
		height: 8px;
		border-radius: 5px;
		overflow: hidden;
	}
	.porcentaje__bar {
		background-color: #20c983;
		height: 10px;
	}
</style>
