---
import Container from '@globals/Container.astro';
import Title from '@atoms/Title.astro';
import Gallery from '@molecules/Gallery'

---

<Container id='portfolio'>
	<Title title='Proyectos' subtitle='Portafolio' />
	<div>
		<Gallery client:load />
	</div>
</Container>
