---
import HomeContacto from '@components/organisms/HomeContacto.astro';
---

<footer class='footer'>
	<HomeContacto />
	<div class='footer__copy'>
		<p>
			Copyright © 2023 <span class='resalt'> Jhair</span>. All Rights
			Reserved.
		</p>
		<p>Terms & Policy | Disclaimer</p>
	</div>
</footer>

<style scoped>
	.footer {
		background: #fff;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-block: 2rem;
	}

	.footer__copy {
		@apply text-[1.6rem] text-center ;
	}
	.resalt {
		@apply text-tertiary;
	}

	@screen laptop {
		.footer__copy {
			@apply w-full flex justify-center;
		}
	}
</style>
