---
import HomeContacto from '@components/organisms/HomeContacto.astro';
import {getGenerals} from '@/src/lib/getGenerals'

const {footer} = getGenerals();
---

<footer class='footer'>
	<HomeContacto />
	<div class='footer__copy' set:html={footer.text}>
		
	</div>
</footer>

<style scoped>
	.footer {
		background: #fff;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-block: 2rem;
	}

	.footer__copy {
		@apply text-[1.6rem] text-center ;
	}
	.resalt {
		@apply text-tertiary;
	}

	@screen laptop {
		.footer__copy {
			@apply w-full flex justify-center;
		}
	}
</style>
